@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <hr style="border-color: white"/>
        <h1 class="display-4">NashorMatch is currently in development</h1>
        <hr style="border-color: white"/>
        <a href="https://discord.gg/HWAN2e3" class="btn btn-primary btn-light" target="_blank">EUW Discord</a>
        <a href="https://discord.gg/hs4U2FD" class="btn btn-primary btn-light" target="_blank">NA Discord</a>
    </div>
